@page
@model WebApp.Pages.Shops.CreateModel

<div asp-validation-summary="All" ></div>

<form method="post" enctype="multipart/form-data" >

    <div class="form-group">
        <label asp-for="Shop.Name">Name</label>
        <input type="text" asp-for="Shop.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Shop.Name"></span>
    </div>
    <br>
    <div class="form-group">
        <label asp-for="Shop.Location">Location</label>
        <input type="text" asp-for="Shop.Location" class="form-control" />
        <span class="text-danger" asp-validation-for="Shop.Location"></span>
    </div>
    <br>
    <div class="form-group">
        <label asp-for="Shop.ShopTypeId">Type</label>
        <select asp-for="Shop.ShopTypeId"
                asp-items="Model.Types"
                class="form-control">
            <option value="" disabled>Choose ShopType</option>
        </select>
        <span class="text-danger" asp-validation-for="Shop.ShopTypeId"></span>
    </div>
    <br>

    <div class="form-group">
        <label asp-for="Shop.Image">Type</label>
        <input type="file" asp-for="Shop.Image" />
    </div>
    <br>

    <button class="btn btn-success"><i class="fa-solid fa-plus"></i> Add</button>

</form>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
