@page
@model WebApp.Pages.Shops.ListModel

<form method="get">
    <div class="input-group mb-3">
        <input type="search" asp-for="SearchTerm" class="form-control">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var shop in Model.Shops)
    {
        <tr>
            <td>@shop.Name</td>
            <td>@shop.Location</td>
            <td>@shop.Type.Name</td>
            <td>
                <a asp-page="./Shops/Detail" asp-route-ShopId="@shop.ShopId">
                    <i class="fas fa-info-circle"></i>
                </a>
            </td>
        </tr>
    }
</table>
